<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin: 25px;
      background-image: url('../vecteezy_pastel-blue-background-space-for-selling-products-on-the_.jpg');
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
    }

    .content {
      text-align: center;
      padding: 20px;
      background-color: rgba(229, 231, 235, 0.9);
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 80%;
      max-width: 850px; 
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      padding: 8px 12px;
      text-align: center;
    }

    th {
      background-color: #f2f2f2;
    }

    td {
      background-color: #f9f9f9;
    }

    button {
      padding: 8px 12px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }
    .tooltip {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 6px 12px;
      border-radius: 4px;
      font-size: 14px;
      white-space: nowrap;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown:hover .tooltip {
      display: block;
    }
  </style>
  <title>Викладачі кафедри</title>
</head>
<body>
  <div class="content">
  <h1>Викладачі кафедри <%= departmentName %></h1>
  <table border="1">
    <thead>
      <tr>
        <th>Ім'я</th>
        <th>Пошта</th>
        <th>Кть місць</th>
        <th>Додайте студента</th>
      </tr>
    </thead>
    <tbody>
      <% teachers.forEach(function(teacher) { %>
        <tr>
          <td><%= teacher.Name %></td>
          <td><%= teacher.Email %></td>
          <td>
            <div class="dropdown">
            <select data-id="<%= teacher.id %>" onchange="updateValue('<%= teacher.id %>', this.value)">
              <option value="<%= teacher.Amount %>" selected><%= teacher.Amount %></option>
              <option value="0">0</option>//
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
          </select>
          <div class="tooltip">Оберіть кількість вільних місць викладача зі списку</div></div></td>
         
          <td><input type="text" id="student-name-<%= teacher.id %>" required></td>
          <td><button type="button" onclick="insertStudent('<%= teacher.id %>', '<%= teacher.Amount %>')">Додайте студента</button></td>
        </tr>
      <% }); %>
    </tbody>
  </table></div>
  <script> 
    document.querySelectorAll('select').forEach(select => {
      select.addEventListener('change', () => {
          location.reload();
      });
  });
  
    document.querySelectorAll('.dropdown').forEach(dropdown => {
      dropdown.addEventListener('mouseover', () => {
        const tooltip = dropdown.querySelector('.tooltip');
        tooltip.style.display = 'block';
        setTimeout(() => {
          tooltip.style.display = 'none';
        }, 1200); 
      });
  
      dropdown.addEventListener('mouseout', () => {
        const tooltip = dropdown.querySelector('.tooltip');
        tooltip.style.display = 'none';
      });
    });
    function updateValue(teacherId, newValue) {
      const hopeconfirm=confirm('Ви впевнені, що хочете вибрати це');
      if(!hopeconfirm) return;
      fetch('/update-amount', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          id: teacherId,
          amount: newValue
        }),
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          const selectElement = document.querySelector(`select[data-id="${teacherId}"]`);
          for (let option of selectElement.options) {
            option.selected = (option.value === newValue); 
           
          }
          document.querySelector(`#student-name-${teacherId}`).dataset.amount = newValue;
          alert('Значення успішно оновлено');
        } else {
          alert('Виникла помилка при оновленні');
        }
      });
    }
    function insertStudent(teacherId, currentAmount) {
      const amountFromDropdown = document.querySelector(`#student-name-${teacherId}`).dataset.amount || currentAmount;
      if (currentAmount <= 0) {
        alert('Неможливо вибрати цього викладача, місць немає.');
        return;
      }
      const isconfirm=confirm('Ви впевнені, що хочете додати студента');
      if(!isconfirm) return;
      const studentName = document.getElementById(`student-name-${teacherId}`).value;
      fetch('/insertStudent', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ id: teacherId, username: studentName }),
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          alert(data.message);
          const selectElement = document.querySelector(`select[data-id="${teacherId}"]`);
          selectElement.value = data.newAmount; 
  
        } else {
          alert(data.message);
        }
        const inputField=document.getElementById(`student-name-${teacherId}`);
        inputField.value='';
      })
      .catch(err => {
        console.error('Помилка:', err);
        alert('Виникла помилка при занесенні');
      });
    }
  </script>
  
</body>
</html>
